@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Roboto', sans-serif, 'Courier New', Courier, monospace;
    letter-spacing: 0.7px;
  }
}
 
:root {
  --background: hsl(214, 32%, 91%); /* Light Gray Background */
  --foreground: hsl(210, 15%, 20%); /* Dark Gray Text */

  --card: hsl(0, 0%, 98%); /* Soft White for Cards */
  --card-foreground: hsl(210, 15%, 20%); /* Dark Gray Text for Cards */

  --popover: hsl(0, 0%, 98%); /* Very Light White for Popovers */
  --popover-foreground: hsl(210, 15%, 20%); /* Dark Gray Text for Popovers */

  --primary: hsl(220, 50%, 40%); /* Soft Blue for Primary Elements */
  --primary-foreground: hsl(0, 0%, 100%); /* White for Primary Elements Text */

  --secondary: hsl(210, 15%, 85%); /* Light Gray for Secondary Elements */
  --secondary-foreground: hsl(210, 15%, 20%); /* Dark Gray Text for Secondary Elements */

  --muted: hsl(210, 15%, 85%); /* Same Light Gray for Less Important Elements */
  --muted-foreground: hsl(210, 10%, 40%); /* Medium Gray for Text of Less Important Elements */

  --accent: hsl(340, 60%, 50%); /* Soft Red for Accent Elements */
  --accent-foreground: hsl(0, 0%, 100%); /* White for Accent Elements Text */

  --destructive: hsl(0, 60%, 50%); /* Red for Destructive Elements */
  --destructive-foreground: hsl(0, 0%, 100%); /* White for Destructive Elements Text */

  --border: hsl(210, 15%, 80%); /* Light Gray for Borders */
  --input: hsl(210, 15%, 80%); /* Same Light Gray for Inputs */
  --ring: hsl(220, 50%, 40%); /* Soft Blue for Focus Rings */

  --radius: 0.5rem; /* Border Radius */
}

  
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}